h1 Checked Out Books
include _book_nav
table
    thead
        tr
            th Title
            th Author
            th Genre
            th Year Released
    tbody
        for book in checkedBook
            tr
                td
                    a(href='converted/book_detail.html') Emma
                td Jane Austen
                td Classic
                td 1815