h1 Loans
include _loan_nav
table
    thead
        tr
            th Book
            th Patron
            th Loaned on
            th Return by
            th Returned on
            th Action
    tbody
        for loan in loans
            tr
                td
                    a(href='/books/' + loan.dataValues.book_id) Book
                td
                    a(href='/patrons/' + loan.dataValues.patron_id) Patron
                td #{loan.dataValues.loaned_on}
                td #{loan.dataValues.return_by}
                td #{loan.dataValues.returned_on}
                td
                    a.button(href='/return/' + loan.dataValues.id) Return Book