nav.navBar
    button
        a(href='../../../../') Home
    button
        a(href='../../../../books/all') Books
    button
        a(href='../../../../patrons/all') Patrons
    button
        a(href='../../../../loans/all') Loans