extends layout

block content
    // All conditions
    if books
        include ./includes/_books

    if overdueOrCheckedBook
        include ./includes/_books

    if bookDetail
        include ./includes/_book_details

    if patrons
        include ./includes/_patrons

    if patronDetail
        include ./includes/_patron_details

    if loans
        include ./includes/_loans

    if returns
        include ./includes/_return_books